<h1><%= @representative.name %></h1>
<p><%= @representative.title %></p>
<p><%= @representative.address %></p>
<p><%= @representative.city %></p>
<p><%= @representative.state %></p>
<p><%= @representative.zip %></p>
<p><%= @representative.party %></p>
<img src="<%= @representative.photo_url %>" alt="<%= @representative.name %>">